/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

html, body{
overflow-x: hidden;
}

@media screen and (max-width: 768px) {
    .blog-posts {
        padding: 20px;
    }
    .hero-title{
        color: whitesmoke;
    }
    .subtitle{
        padding-right: 10px;
    }
     .hero-body{
        transform: scale(0.7);
        padding: unset;
    }
}
body {
	font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 3vh;
}

h3{
    color: azure ;
    font-size: large;
    margin-top: 2px;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 
#logo {
  text-decoration: none;
  color: white;
}
	
#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}
.subtitle{
    font-size: 1.55rem;
    color: #6b5b95;
padding-right: 10px;	
}	
.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding: 1em;
	box-sizing: border-box;
	color: white;
	background: url(herobg.jpg) center center no-repeat;
	background-size: cover;
}

.hero-title {
	max-width: 16em;
	margin: 0;
	font-size: 12vh;
	font-weight: bold;
	line-height: .9;
}
	
	@media only screen and (min-width: 32em) { .hero-title { font-size: 16vh; } }	

.hero-footer {
	display: flex;
	margin-bottom: 1em;
}

.button {
	padding: .5em .67em;
	color: white;
	text-decoration: none;
	border: .1em solid white;

}
	
.button-primary {
		color: black;
		background-color: white;
}
/* ... Your existing styles ... */

/*  Hero cards stuff      */
body{
    background: navajowhite;
    background-size: cover;
  }
  
/* Blog posts section */
.blog-posts {
    padding: 50px;
}
.hero-post{
    padding: 0%;
}
/* Footer */
.footr {
    background-color: #fffff0;
    color: #6b5b95;
    text-align: center;
    padding: 2px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {


    .blog-posts {
        padding: 20px;
    }
}


/* ... Previous CSS code ... */

/* Styling for blog posts */
.blog-posts {
    padding: 50px;
}

.post {
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.post img {
    max-width: 100%;
    height: auto;
}

.post h2 {
    font-size: 24px;
    margin: 10px 0;
}

 p {
    font-size: 14px;
    color: #6b5b95;
   
}

.read-more {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
