body,
html {
  height: 100%;
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Hide scrollbar */
}

.bg-image {
  background-image: url('bg_img.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-container {
  background-color: rgba(255, 255, 255, 0.0); /* 50% transparent white background */
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.countdown-timer {
  font-size: 32px;
  font-weight: 300;
  display: flex;
  justify-content: center;
}

.circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-image: linear-gradient(135deg, #DA93FF, #C48AFF); /* Stronger light purple gradient */
  border-radius: 50%;
  margin: 5px;
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  font-family: 'Victor Mono', monospace;
  color: #155B18;
}

p {
  font-size: 22px;
  font-weight: normal;
  font-family: 'Barlow', sans-serif;
  color: #011218;
}

.subscribe-form {
  display: inline-flex;
  align-items: center;
  max-width: 450px;
  margin-top: 20px;
}

.subscribe-input {
  flex: 1;
  border: 1px solid #155B18;
  border-radius: 6px 0 0 6px;
  padding: 12px;
  font-size: 19px;
}

.custom-button {
    background-color: #155B18;
    color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Victor Mono', monospace;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #C48AFF;
  }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Victor+Mono&display=swap');


/* Style for the custom popup */
.custom-popup {

    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 9999;
}
  
.popup-content {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    border-radius: 40px;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: aliceblue;
    cursor: pointer;
}
 
#popupMessage {
    color: #155B18;
}

/*Social media sidebar stuff*/
.social-media-sidebar {
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

/* Add CSS for the social media icons */
.social-media-icon {
  max-width: 30px;
  max-height:  30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
